/* browser reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
  
}
:root{
--color-primary-darker:rgb(9,7,38);
--color-secondary-lighter:rgb(12,11,72);
--color-tertiary-light:rgb(18,17,81);
--color-pink:rgb(254,62,87);
--font-size:
}
.container{
    width: 100%;
    /* height: 100%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.navBar{
    width: 100%;
    background-color: rgb(9,7,38);
    grid-column: 1/-1;
    gap: 15rem;
    color: white;
    border-bottom: 1px solid gray;
    line-height: 4rem;
    
}
button{
    width: 140px;
    height: 50px;
}

a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.midNav{
    gap: 3rem;
    font-size: 1.1rem;
    
}
.navBtn{
    border: 1px solid rgb(243, 10, 169);
    background-color: rgb(13,11,105);
    border-radius: 5px;
    color: white;
    font-size: 1rem;
}
/* hero sectn */
section{
    width: 100%;
    
}
.leftHero .pSize {
    font-size: 1.8rem;
    margin-right: 8rem;
}
.heroSectn{
    width: 100%;
    height: 830px;
    background-color: rgb(11,9,82);
    grid-column: 1/-1;
}
.leftHero{
    flex-direction: column;
    color: white;
    width: 50%;
    gap: 2rem;
    
    
}
.rightHero{
    padding-top: 8rem;
    z-index: 102;
}
.whiteOverally{
    width: 700px;
    height: 700px;
    border: none;
    background-color: white;
    background: linear-gradient(to top,rgb(12,11,72),white);
    opacity: .12;
    /* clip-path: circle(50% at 50% 50%); */
    position: absolute;
    border-radius: 50%;
    right: 15rem;
    border-left: groove;
    z-index: 50;
}

span{
    color: rgb(254,62,87) ;
}
.heroImg{
    width: 700px;
    
}
.instIcon{
    width: 30px;
}
.socials{
    font-size: 2rem;
    font-weight: bolder;
    background-color: none;
    gap: 1.2rem;
    width: 50px;
    line-height: 3rem;
    margin-right: 16rem;
    
    
}
.socialMed{
    gap: 5rem;
    width: 50px;
    border: 1px solid rgb(226, 12, 230);
    padding-left: 10px;
    padding-right: 10px;
}
.fb{
    color: rgb(226, 12, 230);
    /* background-color: #9ef021; */
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 3rem;
}
h1{
    font-size: 5.2rem;
    width: 700px;
    margin-left: 16rem;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.prodtSectn{
    width: 100%;
    background-color: rgb(151, 230, 13);
    grid-column: 1/-1;
}
.portfolioSectn{
    width: 100%;
    background-color: rgb(232, 9, 13);
    grid-column: 1/-1;
}
.talkSectn{
    width: 100%;
    background-color: rgb(232, 9, 117);
    grid-column: 1/-1;
}
.footerNav{
    width: 100%;
    background-color: rgb(9, 232, 121);
    grid-column: 1/-1;
}
.copyright{
    width: 100%;
    background-color: #9ef021;
    grid-column: 1/-1;
}